<div class="container">
  <h1>Awesome Create</h1>
  <form *ngIf="createForm" [formGroup]="createForm" (ngSubmit)="create()">
    <table>
      <tr>
        <td>Tag:</td>
        <td><input type="text" name="tag" class="form-control" formControlName="tag"></td>
      </tr>
      <tr>
        <td>Url:</td>
        <td><input type="text" name="url" class="form-control" formControlName="url"></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><input type="text" name="descriptions" class="form-control" formControlName="descriptions"></td>
      </tr>
      <button type="submit" class="btn btn-success">Create</button>
<!--      <button routerLink="">Back</button>-->
    </table>
  </form>
</div>
